<!-- Google Analytics -->
{% if site.ga_track_id %}
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.ga_track_id }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', '{{ site.ga_track_id }}', {
    'custom_map': {'dimension1': 'user_type'}
  });
</script>
{% endif %}

<!-- Baidu Analytics -->
{% if site.ba_track_id %}
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?{{ site.ba_track_id }}";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
{% endif %}
