<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="google-site-verification" content="xBT4GhYoi5qRD5tr338pgPM5OWHHIDR6mNg1a3euekI" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <meta name="keywords" content="{% if page.keywords %}{{ page.keywords }}{% else %}{{ site.keyword }}{% endif %}">
    <meta name="theme-color" content="{{ site.chrome-tab-theme-color }}">
    <meta name="author" content="{{ site.author | default: site.title }}">
    <meta name="robots" content="index, follow">
    <meta name="language" content="{{ site.language | default: 'zh-CN' }}">

    <!-- Open Graph -->
    <meta property="og:title"
        content="{% if page.title %}{{ page.title }} - {{ site.SEOTitle }}{% else %}{{ site.SEOTitle }}{% endif %}">
    {% case page.layout %}
    {% when 'post' %}
    <meta property="og:type" content="article">
    <meta property="og:description" content="{{ page.excerpt | strip_html | truncate:200 }}">
    {% if page.date %}
    <meta property="article:published_time" content="{{ page.date | date: " %Y-%m-%dT%H:%M:%SZ" }}">
    {% endif %}
    {% if page.author %}
    <meta property="article:author" content="{{ page.author }}">
    {% endif %}
    {% for tag in page.tags %}
    <meta property="article:tag" content="{{ tag }}">
    {% endfor %}
    {% else %}
    <meta property="og:type" content="website">
    <meta property="og:description"
        content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    {% endcase %}
    <meta property="og:image" content="{{ site.url }}{{ site.baseurl }}/{{ site.sidebar-avatar }}">
    <meta property="og:url" content="{{ site.url }}{{ page.url }}">
    <meta property="og:site_name" content="{{ site.SEOTitle }}">

    <title>{% if page.title %}{{ page.title }} - {{ site.SEOTitle }}{% else %}{{ site.SEOTitle }}{% endif %}</title>

    <!-- Web App Manifest -->
    <link rel="manifest" href="{{ site.baseurl }}/pwa/manifest.json">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ site.baseurl }}/img/favicon.ico">

    <!-- Canonical URL -->
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!-- Preload critical resources -->
    <link rel="preload" href="{{ '/css/bootstrap.min.css' | prepend: site.baseurl }}" as="style">
    <link rel="preload" href="{{ '/css/hux-blog.min.css' | prepend: site.baseurl }}" as="style">
    
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{{ '/css/bootstrap.min.css' | prepend: site.baseurl }}" media="print" onload="this.media='all'">
    <noscript><link rel="stylesheet" href="{{ '/css/bootstrap.min.css' | prepend: site.baseurl }}"></noscript>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ '/css/hux-blog.min.css' | prepend: site.baseurl }}" media="print" onload="this.media='all'">
    <noscript><link rel="stylesheet" href="{{ '/css/hux-blog.min.css' | prepend: site.baseurl }}"></noscript>

    <!-- Custom Fonts with fallback -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="print" onload="this.media='all'">
    <noscript><link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css"></noscript>


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- SEO Meta Tags -->
    {% include seo-meta.html %}

    <!-- Analytics -->
    {% include analytics.html %}

    <!-- Performance Optimizations -->
    {% include performance.html %}

    <!-- Google AdSense -->
    <script data-ad-client="ca-pub-6487568398225121" async
        src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
